body {
    background-image: url("../images/quartz_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;    
}

body h3 {
    color: teal;
}

body p {
    font-size: large;
}

.container {
    background: white;
    margin-top: 30px;
}

#navbar_name {
    font-size: 30px;
    color: teal;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: red;
    color: white;
  }